@import "variables";
@import "container";
@import "main_header";
@import "paragraph";
@import "button";
@import "arrow";
@import "section-header";
@import "section-header-paragraph";
@import "ellipse";
@import "servise-list";

.service {
  padding: 100px 0;
  text-align: center;
  background-color: #f5f5f5;
  .service_section-header-paragraph{
    margin: 16px 0 80px;
    &::after {
      display: block;
      width: 40px;
      height: 2px;
      content: "";
      margin: 0 auto;
      background-color: #000;
    }
  }
}